/* common  styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
img{
    height: auto;
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* header-area */
.header-area{
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315) , rgba(0, 0, 0, 0.342)) , url('images/bg.jpg');
}
.header-top{
    background-color: rgba(128, 128, 128, 0.247);
}
.header-menu > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu ul li{
    position: relative;
}
.header-menu ul li a{
    color: white;
    font-size: 20px;
    padding: 30px;
    display: block;
}
.header-menu ul .different a{
    padding: 23px;
}
.header-menu ul li a:hover{
    color: #58ffc5;
}
.header-menu ul li .dropdown{
    display: none;
    width: 200px;
    padding: 10px;
    text-align: center;
    text-wrap: nowrap;
    background-color: rgba(128, 128, 128, 0.445);
    position: absolute;
    top: 100%;
    left: -45%;
}
.header-menu ul li .dropdown a{
    padding: 10px 0;
}
.header-menu > ul > li:hover .dropdown{
    display: block;
}

/* header-bottom */
.header-bottom{
    color: white;
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header-content h5{
    color: #91AEA4;
    font-size: 18px;
}
.header-content h2{
    margin: 20px 0;
    font-size: 45px;
    font-weight: 200;
}
.header-content p{
    font-size: 20px;
    margin: 25px 0 30px;
}
.header-content button{
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #91AEA4;
}
.header-content button:hover{
    background-color: #7E9E93;
}

/* intro-area */
.intro-area{
    height: 50vh;
    position: relative;
}
.intro{
    width: 92%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: -20%;
    left: 4%;
}
.section-title{
    padding: 80px 0;
}
.section-title h3{
    color: #91AEA4;
    margin-bottom: 20px;
}
.section-title h2{
    font-size: 35px;
    font-weight: 100;
    color: #383636;
}
.intro-content{
    display: flex;
}
.intro-items{
    width: 25%;
    margin-left: 7%;
    margin-bottom: 4%;
    text-align: center;
}
.intro-items .intro-icon{
    width: 18%;
    margin: 0 auto;
}
.intro-items h3{
    font-size: 25px;
    margin: 15px 0;
} 
.intro-items p{
    color: #8C8F95;
    font-size: 18px;
} 

/* philosophy-area */
.philosophy-area{
    height: 100vh;
    padding: 100px 0 150px;
}
.overlay{
    height: 5px;
    width: 50px;
    border-radius: 100px;
    margin-bottom: 30px;
    background-color: #7E9E93;
}
.philosophy-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.philosophy-content{
    width: 40%;
}
.philosophy-container h3{
    color: #5f8f7e;
    font-weight: 100;
}
.philosophy-container h2{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.774);
}
.philosophy-container p{
    color: #A4A6AB;
}
.philosophy-content-1{
    padding-left: 8%;
}
.philosophy-container p a{
    color: #7E9E93;
}
.philosophy-container p a:hover{
    color: #049A7D;
}
.philosophy-content-2{
    width: 45%;
}
.philosophy-item{
    width: 40%;
    float: left;
    height: 65vh;
    margin-left: 5%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/bg1.jpg');
}
.philosophy-item-2{
    background-image: url('images/bg2.jpg');
}
.philosophy-item-3{
    width: 80%;
    height: 50vh;
    margin-left: 12%;
    background-image: url('images/bg3.jpg');
}
.philosophy-content-4{
    margin-left: 7%;
}
