/* common  styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
img{
    height: auto;
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* header-area */
.header-area{
    height: 90vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315) , rgba(0, 0, 0, 0.342)) , url('images/bg.jpg');
}
.header-top{
    background-color: rgba(128, 128, 128, 0.247);
}
.header-menu > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu ul li{
    position: relative;
}
.header-menu ul li a{
    color: white;
    font-size: 20px;
    padding: 30px;
    display: block;
}
.header-menu ul .different a{
    padding: 23px;
}
.header-menu ul li a:hover{
    color: #58ffc5;
}
.header-menu ul li .dropdown{
    display: none;
    width: 200px;
    padding: 10px;
    text-align: center;
    text-wrap: nowrap;
    background-color: rgba(128, 128, 128, 0.445);
    position: absolute;
    top: 100%;
    left: -45%;
}
.header-menu ul li .dropdown a{
    padding: 10px 0;
}
.header-menu > ul > li:hover .dropdown{
    display: block;
}

/* header-bottom */
.header-bottom{
    color: white;
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header-content h5{
    color: #91AEA4;
    font-size: 18px;
}
.header-content h2{
    margin: 20px 0;
    font-size: 45px;
    font-weight: 200;
}
.header-content p{
    font-size: 20px;
    margin: 25px 0 30px;
}
.header-content button{
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #91AEA4;
}
.header-content button:hover{
    background-color: #7E9E93;
}

/* intro-area */
.intro-area{
    height: 50vh;
    position: relative;
}
.intro{
    width: 92%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: -20%;
    left: 4%;
}
.section-title{
    padding: 80px 0;
    text-align: center;
}
.section-title h3{
    color: #91AEA4;
    margin-bottom: 20px;
}
.section-title h2{
    font-size: 35px;
    font-weight: 100;
    color: #383636;
}
.intro-content{
    display: flex;
}
.intro-items{
    width: 25%;
    margin-left: 7%;
    margin-bottom: 4%;
    text-align: center;
}
.intro-items .intro-icon{
    width: 18%;
    margin: 0 auto;
}
.intro-items h3{
    font-size: 25px;
    margin: 15px 0;
} 
.intro-items p{
    color: #8C8F95;
    font-size: 18px;
} 

/* philosophy-area */
.philosophy-area{
    height: 100vh;
    padding: 100px 0 250px;
}
.overlay{
    height: 5px;
    width: 50px;
    border-radius: 100px;
    margin-bottom: 30px;
    background-color: #7E9E93;
}
.philosophy-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.philosophy-content{
    width: 40%;
}
.philosophy-container h3{
    color: #5f8f7e;
    font-weight: 100;
}
.philosophy-container h2{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.774);
}
.philosophy-container p{
    color: #A4A6AB;
}
.philosophy-content-1{
    padding-left: 8%;
}
.philosophy-container p a{
    color: #7E9E93;
}
.philosophy-container p a:hover{
    color: #049A7D;
}
.philosophy-content-2{
    width: 45%;
}
.philosophy-item{
    width: 40%;
    float: left;
    height: 65vh;
    margin-left: 5%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/bg1.jpg');
}
.philosophy-item-2{
    background-image: url('images/bg2.jpg');
}
.philosophy-item-3{
    width: 80%;
    height: 50vh;
    margin-left: 12%;
    background-image: url('images/bg3.jpg');
}
.philosophy-content-4{
    margin-left: 7%;
}

/* work-area */
.work-area{
    height: 100vh;
    text-align: center;
    padding: 30px 80px 200px;
    background-color: #F1F3F8;
}
.work-content{
    width: 28%;
    float: left;
    margin-left: 2%;
}
.work-style-1{
    width: 100%;
    height: 470px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.work-style-2{
    width: 100%;
    height: 270px;
    margin-top: 30px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.work-content-1{
    margin-left: 6%;
}
.work-content-2 .work-style-2{
    margin-top: 0;
    margin-bottom: 30px;
}
.work-item-1{
    background-image: url('images/bg4.jpg');
}
.work-item-2{
    background-image: url('images/bg5.jpg');
}
.work-item-3{
    background-image: url('images/bg6.jpg');
}
.work-item-4{
    background-image: url('images/bg7.jpg');
}
.work-item-5{
    background-image: url('images/bg8.jpg');
}
.work-item-6{
    background-image: url('images/bg9.jpg');
}

/* company-area */
.company-area{
    height: 100vh;
    padding: 50px 0 400px;
    background-color: #F1F3F8;
}
.company-item{
    width: 88%;
    float: left;
    height: 40vh;
    margin-left: 5%;
    margin-bottom: 16px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/bg10.jpg');
}
.company-item-1{
    width: 42%;
    background-image: url('images/bg11.jpg');
}
.company-item-2{
    width: 42%;
    margin-left: 3%;
    background-image: url('images/bg12.jpg');
}
.company-item-3{
    width: 92%;
    height: 50vh;
    margin-left: 12%;
    background-image: url('images/bg13.jpg');
}

/* footer-area */
.footer-area{
    height: 100vh;
    padding-bottom: 150px;
}
.footer-area .section-title img{
    width: 45px;
}
.footer-area .section-title p{
    color: #818495;
    margin-top: 5px;
}
.philosophy-content-1{
    display: block;
}
.footer-area .philosophy-content-1 img{
    width: 70px;
}
.footer-area .philosophy-content-1 p{
    margin: 20px 0;
}
.footer-area .philosophy-content-2 form{
    width: 60%;
    border-radius: 5px;
    padding: 7% 0 8% 12%;
    border: 1px solid gray;
}
.footer-area .philosophy-content-2 input,
.footer-area .philosophy-content-2 textarea{
    display: block;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 15px 190px 12px 30px;
}
.footer-area .philosophy-content-2 textarea::placeholder{
    font-size: 18px;
}
.footer-area .philosophy-content-2 button{
    display: block;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 35px;
    border: 1px solid gray;
}
.footer-area .philosophy-content-2 button:hover{
    color: white;
    background-color: #7E9E93;
}
.copyright{
    color: gray;
    padding: 30px 0;
    font-weight: bold;
    text-align: center;
    background-color: #E9ECF3;
    border-top: 1px solid #D1D5DC;
}
